
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Soy Angel Valladares </h1>
    <h2>Soy un desarrolador Fullstack especializado en tecnologias .NET y JavaScript</h2>
    <img id="foto" src="~/images/foto.jpg" alt="Angel Valladares"   />
</div>

<div class="text-center">

    <img id="imagen-dotnet" src="~/images/dotnet-imagen-2.png" alt="imagen-dotnet"/>


</div>


<div class="text-center seccion-info background-prime p-4">

    <h2 class="text-white" >Bienvenido a mi Portafolio</h2>

    <h5>
        Hola, soy un estudiante de Ingeniería en Sistemas de la UNAH, actualmente me estoy formando en el desarrollo
        FullStack en tecnologías .NET con ASP.NET Core, Razor, Procedimientos Almacenados, MVC y MS SQL Server en la 
        gestión de Bases de Datos, usando Frameworks como Dapper y Entity Framework.
    </h5>


</div>


<div class="row justify-content-md-align-center text-center">
    
    <div class="col col-3 bg-white" >

        <p>

        </p>

    </div>

    <div class="col col-3 bg-white">
    </div>

</div>