@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Soy Angel Valladares</h1>
    <h2>Soy un desarrolador Fullstack especializado en tecnologias .NET y JavaScript</h2>
    <img id="foto" src="~/images/foto.jpg" alt="Angel Valladares"   />
</div>
